In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [16]:
giants = [
    ('유강남', 30),
    ('전준우', 37),
    ('안치홍', 32),
    ('김민석', 19),
    ('노진혁', 33),
    ('안권수', 30),
    ('잭 렉스', 29),
    ('황성빈', 25),
    ('최준용', 21),
    ('박세웅', 27),
    ('김상수', 35),
    ('나균안', 25),
    ('김원중', 29),
    ('래리 서튼', 53)
]
giants

[('유강남', 30),
 ('전준우', 37),
 ('안치홍', 32),
 ('김민석', 19),
 ('노진혁', 33),
 ('안권수', 30),
 ('잭 렉스', 29),
 ('황성빈', 25),
 ('최준용', 21),
 ('박세웅', 27),
 ('김상수', 35),
 ('나균안', 25),
 ('김원중', 29),
 ('래리 서튼', 53)]

In [17]:
schema = ['name', 'age']

In [18]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [19]:
df = spark.createDataFrame(data=giants, schema=schema)

In [20]:
df.show()

+---------+---+
|     name|age|
+---------+---+
|   유강남| 30|
|   전준우| 37|
|   안치홍| 32|
|   김민석| 19|
|   노진혁| 33|
|   안권수| 30|
|  잭 렉스| 29|
|   황성빈| 25|
|   최준용| 21|
|   박세웅| 27|
|   김상수| 35|
|   나균안| 25|
|   김원중| 29|
|래리 서튼| 53|
+---------+---+

In [21]:
df.createOrReplaceTempView('lotte')

In [22]:
# udf
from pyspark.sql.functions import udf

@udf('String')
def age_category(age):
    if(age < 35):
        age_category = 'young'
    elif(age >=35 or age < 60):
        age_category = 'adult'
    else:
        age_category = 'senior'
    
    return age_category

In [23]:
spark.udf.register('age_category', age_category)

In [24]:
spark.sql(
    "SELECT name, age_category(age)\
    FROM lotte"
).show()

+---------+-----------------+
|     name|age_category(age)|
+---------+-----------------+
|   유강남|            young|
|   전준우|            adult|
|   안치홍|            young|
|   김민석|            young|
|   노진혁|            young|
|   안권수|            young|
|  잭 렉스|            young|
|   황성빈|            young|
|   최준용|            young|
|   박세웅|            young|
|   김상수|            adult|
|   나균안|            young|
|   김원중|            young|
|래리 서튼|            adult|
+---------+-----------------+

### Finish